body {
	padding: 30px;
}

.floors {
	padding-top: 30px;
}

#new_floor_alert {
	margin-top: 30px;
}

#delete_floor_alert {
	margin-top: 30px;
}

.grid {
	float: left;
	width: 70%;
}

.menu {
	float: right;
	width: 30%;
}