html, body {
  width: 90%;
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: arial;
}

.grid {
  padding: 0 0px;
  float:left;
  text-align: left;
  margin:30px;
  z-index:2;
}

.menu {
  background-color: lightblue;
  width: 50%;
  margin:30px;
  padding: 0 0px;
  float:right;
  text-align: left;
  position:relative;
  z-index:1;
} 

#listModels {
  background-color: lightblue;
  width: 50%;
  margin:30px;
  padding: 0 0px;
  float:right;
  text-align: left;
  position:relative;
  z-index:1;
} 

#listPaintings {
  background-color: lightgreen;
  width: 50%;
  margin:30px;
  padding: 0 0px;
  float:right;
  text-align: left;
  position:relative;
  z-index:1;
} 


#divRadioGrid {
  background-color: lightgreen;
  width: 100%;
  margin:30px;
  padding: 10 10px;
  text-align: left;
} 
